{% extends 'song_archive/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<h1>Home</h1>

<body>
    <h2>Artists</h2>

    <div class="artist-card-container">
        {% for artist in artists %}
            <div class="artist-card">
                <p>{{artist.artist_name}}</p>
                </div>
        {% endfor %}
    </div>

</body>

{% endblock %}