{% extends 'song_archive/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<head>
    <title>Sign up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign up.css' %}">
</head>
<body>
    <div class="signup-container">
        <h1>Sign up</h1>
        <div class="required-information">
            <span class="required">*</span> indicates required fields
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="account_name">Account Name:  <span class="required">*</span></label>
            {{ form.account_name }}

            <label for="email">E-mail: <span class="required">*</span></label>
            {{ form.email }}
            {{ form.email.errors}}

            <label for="DOB">Date of birth: <span class="required">*</span></label>
            {{ form.DOB }}
            {{ form.DOB.errors}}

            <label for="password">Password: <span class="required">*</span></label>
            {{ form.password }}

            <button type="submit">SIGN UP</button>

            <div class="login-redirect">Already have an account? Log in <a href="{% url 'log in' %}">here</a>.</div>
        </form>
    </div>
</body>

{% endblock %}