h1 {
    color: white;
    text-align: center;
}

.login-container {
    width: 600px;
    margin: 50px auto 0;
    background-color: #3A3A3A;

    padding: 30px;
    border-radius: 10px;
}

.login-container input,
.login-container button {
    width: 80%;
    box-sizing: border-box;
    display: block;
    margin: 0 auto 15px;

    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;

    min-height: 50px;

    color: white;
}

.login-container input {
    background-color: #5A5A5A;
    color: #D1D1D1;

}

.login-container input::placeholder {
    color: #D1D1D1;
}

.login-container button {
    background-color: #4E3E5B;
    color: white;

    padding: 10px;
    border-radius: 5px;
    font-weight: 600;

    
}

label {
    color: white;
    text-align: left;
    padding: 10px;
    padding-left: 50px;
    
}

.errorlist {
    background-color: #b88c90;
    color: #9c0000;

    width: 80%;
    
    margin: 0 auto;
    margin-bottom: 15px;
}

.required-information {
    width: 80%;
    margin: 0 auto;
    color: #D1D1D1;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}