{% extends 'song_archive/base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
<head>
    <title>Change password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/change info.css' %}">
</head>
<body>
    <div class="change-container">
        <h1>Change password</h1>
        <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{form.password1}}

            <button type="submit">CHANGE PASSWORD</button>
        </form>
    </div>
</body>

{% endblock %}